button {
  position: relative;
  background-color: #d7deda;
  border: none;
  margin-left: 20px;
  color: #232624;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

@media only screen and (max-width: 620px) {
  #h-search-button {
    margin: 5px 0 5px 0;
  }
}

