input {
  width: 25em;
  height: 100%;
  color: #232624;
  border-radius: 5px;
  border: none;
  background-color: #d7deda;
  padding-left: 10px;
  line-height: 2em;
  font-size: 16px;
}

input:focus button:focus {
  outline: none;
}

img {
  width: 200px;
  height: 200px;
}

.h-padding-5px {
  padding: 5px;
}

.h-fixed-position-top {
  position: relative;
  top: 0;
}

.h-color-white {
  color: white;
}

.h-margin-10px {
  margin: 10px;
}

.h-margin-top-30px {
  margin-top: 30px;
}

.h-flex-wrap {
  flex-wrap: wrap;
}
