<div class="h-height-2em h-padding-5px h-fixed-position-top">
  <input type="text" placeholder="Search for a giph" [(ngModel)]="searchWord">
  <button #searchButton (click)="onSearchClick()">Search</button>
</div>
<div *ngIf="searchResultGifs.length > 0">
  <div class="h-display-flex h-flex-wrap h-margin-top-30px">
    <span *ngFor="let gifObject of searchResultGifs; trackBy: trackById" class="h-margin-10px">
      <img src="{{gifObject.images.original.url}}" [alt]="gifObject.title">
    </span>
  </div>

  <div>
    <button class="h-width-6em h-height-2em" (click)="onLoadMoreClick()">Load more</button>
  </div>
</div>

<div *ngIf="onceSearched && searchResultGifs.length == 0" class="h-padding-5px h-color-white">
  <p>No gifs found</p>
</div>
